<ul class="nav nav-tabs integration-type mt-5" id="type-tab" role="tablist">
    <a onclick="updateType('dropin')">
        <li class="nav-item" role="presentation">
            <button class="nav-link type" name="dropin" id="nav-dropin-tab" type="button" role="tab"
                aria-controls="tabs-dropin" aria-selected="true">Dropin</button>
        </li>
    </a>
    <a onclick="updateType('card')">
        <li class="nav-item" role="presentation">
            <button class="nav-link type" id="nav-card-tab" name="card" type="button" role="tab"
                aria-controls="tabs-card" aria-selected="false">Card</button>
        </li>
    </a>
    <a onclick="updateType('paypal')">
        <li class="nav-item" role="presentation">
            <button class="nav-link type" id="nav-card-tab" name="paypal" type="button" role="tab"
                aria-controls="tabs-card" aria-selected="false">Paypal</button>
        </li>
    </a>
    <a onclick="updateType('ideal')">
        <li class="nav-item" role="presentation">
            <button class="nav-link type" id="nav-card-tab" name="ideal" type="button" role="tab"
                aria-controls="tabs-card" aria-selected="false">iDEAL</button>
        </li>
    </a>
    <a onclick="updateType('klarna_account')">
        <li class="nav-item" role="presentation">
            <button class="nav-link type" id="nav-card-tab" name="klarna_account" type="button" role="tab"
                aria-controls="tabs-card" aria-selected="false">Klarna</button>
        </li>
    </a>
    <a onclick="updateType('mbway')">
        <li class="nav-item" role="presentation">
            <button class="nav-link type" id="nav-card-tab" name="mbway" type="button" role="tab"
                aria-controls="tabs-card" aria-selected="false">MBway</button>
        </li>
    </a>
</ul>