<div class="theme-row">
    <ul class="nav nav-pills mb-3 theme-select" id="pills-tab-theme" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link theme-select" id="pills-default-tab" data-bs-toggle="pill"
                data-bs-target="#pills-default" type="button" role="tab"
                aria-controls="pills-default" aria-selected="true">Default</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link theme-select" id="pills-green-tab" data-bs-toggle="pill"
                data-bs-target="#pills-green" type="button" role="tab"
                aria-controls="pills-green" aria-selected="true">Green</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link theme-select" id="pills-dark-tab" data-bs-toggle="pill"
                data-bs-target="#pills-dark" type="button" role="tab" aria-controls="pills-dark"
                aria-selected="false">Dark</button>
        </li>
    </ul>
</div>