<div class="" style="position: relative; z-index: 1000">
    <span class="dropdown-el" id="version">
        <input type="radio" name="version" checked="checked" id="69"><label for="69">v69</label>
        <input type="radio" name="version" id="68"><label for="68">v68</label>
        <input type="radio" name="version" id="67"><label for="67">v67</label>
        <input type="radio" name="version" id="66"><label for="66">v66</label>
        <input type="radio" name="version" id="51"><label for="51">v51</label>
    </span>
</div>