<%- include('partials/header') %>

    <div class="container-fluid">
        <table class="table table-hover align-middle mb-0 ">
            <thead class="bg-light">
                <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                    <th>Date</th>
                    <th>Type</th>
                    <th>PSP Reference</th>
                    <th>Merchant Reference</th>
                    <th>Success</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="badge bg-success">True</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer') %>