<form id="capture-form">
    <div class="mb-3">
        <div class="row">
            <div class="col-sm-6">
                <label for="modification-currency" class="form-label">Currency</label>
                <input type="text" class="form-control" id="modification-currency" placeholder="EUR">
            </div>
            <div class="col-sm-6">
                <label for="modification-amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="modification-amount" value="1000">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Capture</button>
</form>